@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.primary {
  background-color: #fff;
  color: black;
}

.secondary {
  background-color: purple;
  color: #fff;
}

/* navbar styles */
.nav {
  display: flex;
  padding: 12px 50px;
  justify-content: space-between;
  background: darkmagenta;
  width: 100%;
  height: 10%;
  z-index: 10;
  align-items: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);

  div {
    display: flex;
    gap: 40px;

    ul {
      display: flex;
      gap: 20px;
      list-style: none;
      align-items: center;

      li a {
        font-size: 20px;
        color: #fff;
      }
    }
  }

  .iconShow {
    display: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
  }
}

@media only screen and (max-width: 670px) {
  .nav {
    .iconShow {
      display: block;
    }

    div {
      display: flex;
      flex-direction: column;
      background-color: darkmagenta;
      height: 100%;
      width: 250px;
      align-items: center;
      position: fixed;
      z-index: 10;
      top: 9.7%;
      right: -250px;
      padding-top: 40px;
      transition: 0.6s;

      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: none;
        align-items: center;
      }
    }
  }
}

/* hero styles */
.hero_container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/public/hero_img.jpg);
}

@media only screen and (max-width: 670px) {
  .hero_container{
    padding-top: 25%;

    h1 {
    font-size: 26px;
  }
  }
}

/* footer styles */
.footer {
  height: 6vh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: #777;
  font-size: 12px;
  text-align: center;
}

/* custom button */
.custom_button {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 10px;
}

/* about styles */
/* .about {
  
}

/* donate styles */
/* .donate {
  
} */

/* contact styles */
/* .contact {
  
}  */